@import '~bootstrap/scss/bootstrap.scss'
@import ./colors
@import ./reset
  
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: var(--main-text)
  font-size: 16px

code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
