.Main
  background-color: var(--secondary)
  min-height: calc(100vh - 50px)

.addressWrp
  padding: 12px 0
  border-bottom: 1px solid var(--border)
  margin-bottom: 20px

.addressTitle
  font-size: 20px
  color: var(--title-text)

.address
  font-size: 16px
  color: var(--secondary-text)

.table
  border: 1px solid var(--border)
  border-radius: .5rem
  box-shadow: 0 0.5rem 1.2rem rgba(189,197,209,.2)
  background-color: var(--main)

.table > div:not(:last-child) 
  border-bottom: 1px solid var(--border)

.table > div:hover:not(:first-child)
  background-color: var(--secondary-hover)

.additional
  font-size: 14px
  color: var(--secondary-text)
  