.Header
  background-color: var(--main)
  height: 50px
  padding: 0 60px
  display: flex
  align-items: center
  font-weight: bold
  font-size: 20px
  box-shadow: 0 1px 10px rgba(151,164,175,.1)
  position: relative
  z-index: 1
